# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.h5
*.pt
*.ckpt

# Virtual environments
.env
venv/
env/
.python-version

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Output / 실행 결과
output/
input/
python/output/
python/input/
src/main/resources/output/